#header-component {
  display: flex;
  background-color: white;
}


#header-component-left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 2%;
}

#MdOutlineDocumentScanner {
  font-size: xx-large;
  color: #00afef;
}

#header-component-right {
  width:100%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#header-component-options {
  padding-right: 5%;
  width: 30%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}