

#upload-window {
  width: 90%;
  height: 60%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drag-drop {
  border-style: dashed;
  border-width: 1px;
  border-color: #21418b;
  width:90%;
  height: 80%;
  border-radius: 10px;
  background-color: #effbff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#document-upload {
  color: #21418b;
}

#upload {
  position: relative;
  padding-top: 13vh;
  padding-bottom: 13vh;
  padding-left: 30vb;
  padding-right: 30vb;
  height:50%;
  border-style: dashed;
  border-color: #80d9f7;

  border-radius: 10px;
  background-color: #effbff;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#upload-status {
  background-color: #2dca93;
  border-radius: 10px;
  padding: 0.5%;
}

#upload-upload-icon {
  font-size: xxx-large;
  color:#21418b;
}