*{
  margin:0;
  padding: 0;
  box-sizing: border-box;



}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; 
  display: flex;
  background-color: #ebeef6;

  /* Ensures that the root elements take up the full height */
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.container-box {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.container-dashboard-all {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item-icon {
  font-size:x-large;
}

p{
  color:#484e56;
}

h1{
  color:#080b11;
}

h2{
  color:#080b11;
}


p, h1, h2, h3 {
  font-family:sans-serif;

}

button {
  width: 8rem;
  height: 2.5rem;
  background-color: #2dca93;
  border-style:none;
  border-radius: 5px;
  font-weight:400;
  font-size: large;
  color: white;

}