#table {
  color: black;
  background-color: white;
  width: 95%;
  height: 75%;
  margin-top:2%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:2%;
  overflow-y:scroll;
}

#table-top-row{
  width: 91%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

#table-heading{
  font-size:large;
  margin-right:6%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #21418b;
}

  #table-heading-identifier{
    font-size:large;
    margin-left:0%;
    margin-right:10%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #21418b;
  }

hr{
  border: solid;
  width: 100%;
  height:2px;
  color:  #ebeef6;
  margin-bottom: 4%;
}