

.menu-font {
  color: white;
  margin-top:30%;
}


#box-container-navbar {
  background-color: #3f78f8;
  width: 20%; 
  height: 95%;
  border-radius: 10px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-left: 1%;
  padding-left:1%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

