#menu-items-navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-font {
  color: white;
  margin-top:10%;
  border-bottom-style:solid;
  border-width: 1px;
  border-color:#ebeef6;
  font-size:medium;
  font-weight: 150;
  display:flex;
  justify-content: center;
}


#box-container-navbar {
  background-color: #3f78f8;
  width: 20%; 
  height: 95%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1%;
  
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

