#box-container-info {
  background-color: white;
  
  width: 95%; 
  height: 85%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content:center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;  
}

.box-container-info-item{
  word-wrap: break-word;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 10px;
  padding:5%;
  width: 85%;
  height: 100%;
  
}

.green-info-item {
  background-color: #2dca93;
}

.red-info-item {
  background-color: #f25767;
}

.white {
  color:white;
 
}

.box-container-info-item-icon {
  font-size: medium;
}

.centered-row {
  display: flex;
  align-content: center;
}